# coding: utf-8

"""
    VMS API

    ## Description  API to be impemented by VMS systems for integration into HealthSuite business processes   # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Contact: support@allocatesoftware.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from api_server.api_client import ApiClient
from api_server.exceptions import (
    ApiTypeError,
    ApiValueError
)


class AgencyApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def offer_worker(self, booking_request_id, person_identifier, **kwargs):  # noqa: E501
        """offer_worker  # noqa: E501

        Offer a worker for a booking  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.offer_worker(booking_request_id, person_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str booking_request_id: ID of the booking request to offer a worker for. (required)
        :param PersonIdentifier person_identifier: Worker to be offered (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.offer_worker_with_http_info(booking_request_id, person_identifier, **kwargs)  # noqa: E501

    def offer_worker_with_http_info(self, booking_request_id, person_identifier, **kwargs):  # noqa: E501
        """offer_worker  # noqa: E501

        Offer a worker for a booking  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.offer_worker_with_http_info(booking_request_id, person_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str booking_request_id: ID of the booking request to offer a worker for. (required)
        :param PersonIdentifier person_identifier: Worker to be offered (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['booking_request_id', 'person_identifier']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method offer_worker" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'booking_request_id' is set
        if self.api_client.client_side_validation and ('booking_request_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['booking_request_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `booking_request_id` when calling `offer_worker`")  # noqa: E501
        # verify the required parameter 'person_identifier' is set
        if self.api_client.client_side_validation and ('person_identifier' not in local_var_params or  # noqa: E501
                                                        local_var_params['person_identifier'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `person_identifier` when calling `offer_worker`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'booking_request_id' in local_var_params:
            path_params['bookingRequestId'] = local_var_params['booking_request_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'person_identifier' in local_var_params:
            body_params = local_var_params['person_identifier']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/bookingRequests/{bookingRequestId}/offers', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
