/*
 * VMS API
 * ## Description  API to be impemented by VMS systems for integration into HealthSuite business processes 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@allocatesoftware.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.allocate.vms.api;

import com.allocate.vms.ApiCallback;
import com.allocate.vms.ApiClient;
import com.allocate.vms.ApiException;
import com.allocate.vms.ApiResponse;
import com.allocate.vms.Configuration;
import com.allocate.vms.Pair;
import com.allocate.vms.ProgressRequestBody;
import com.allocate.vms.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.allocate.vms.api.model.PersonIdentifier;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AgencyApi {
    private ApiClient localVarApiClient;

    public AgencyApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AgencyApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for offerWorker
     * @param bookingRequestId ID of the booking request to offer a worker for. (required)
     * @param personIdentifier Worker to be offered (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully offered worker </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No such booking request exists </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call offerWorkerCall(String bookingRequestId, PersonIdentifier personIdentifier, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = personIdentifier;

        // create path and map variables
        String localVarPath = "/bookingRequests/{bookingRequestId}/offers"
            .replaceAll("\\{" + "bookingRequestId" + "\\}", localVarApiClient.escapeString(bookingRequestId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call offerWorkerValidateBeforeCall(String bookingRequestId, PersonIdentifier personIdentifier, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'bookingRequestId' is set
        if (bookingRequestId == null) {
            throw new ApiException("Missing the required parameter 'bookingRequestId' when calling offerWorker(Async)");
        }
        
        // verify the required parameter 'personIdentifier' is set
        if (personIdentifier == null) {
            throw new ApiException("Missing the required parameter 'personIdentifier' when calling offerWorker(Async)");
        }
        

        okhttp3.Call localVarCall = offerWorkerCall(bookingRequestId, personIdentifier, _callback);
        return localVarCall;

    }

    /**
     * 
     * Offer a worker for a booking
     * @param bookingRequestId ID of the booking request to offer a worker for. (required)
     * @param personIdentifier Worker to be offered (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully offered worker </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No such booking request exists </td><td>  -  </td></tr>
     </table>
     */
    public void offerWorker(String bookingRequestId, PersonIdentifier personIdentifier) throws ApiException {
        offerWorkerWithHttpInfo(bookingRequestId, personIdentifier);
    }

    /**
     * 
     * Offer a worker for a booking
     * @param bookingRequestId ID of the booking request to offer a worker for. (required)
     * @param personIdentifier Worker to be offered (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully offered worker </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No such booking request exists </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> offerWorkerWithHttpInfo(String bookingRequestId, PersonIdentifier personIdentifier) throws ApiException {
        okhttp3.Call localVarCall = offerWorkerValidateBeforeCall(bookingRequestId, personIdentifier, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Offer a worker for a booking
     * @param bookingRequestId ID of the booking request to offer a worker for. (required)
     * @param personIdentifier Worker to be offered (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully offered worker </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No such booking request exists </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call offerWorkerAsync(String bookingRequestId, PersonIdentifier personIdentifier, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = offerWorkerValidateBeforeCall(bookingRequestId, personIdentifier, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
